name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  test-current:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: ["3.2", "3.3"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Installing dependencies
        run: |
          bundle check --path=vendor/bundle || bundle install --path=vendor/bundle
          bundle exec appraisal install --path=vendor/bundle
      - name: Run tests
        run: bundle exec appraisal rake test

  test-3_1:
    strategy:
      matrix:
        os: [ubuntu-latest]
        ruby: ["3.1"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Installing dependencies
        run: |
          bundle check --path=vendor/bundle || bundle install --path=vendor/bundle
          bundle exec appraisal ar-7.1 bundle install --path=vendor/bundle
          bundle exec appraisal ar-7.2 bundle install --path=vendor/bundle
      - name: Run tests
        run: |
          bundle exec appraisal ar-7.1 rake test
          bundle exec appraisal ar-7.2 rake test
